<div class="post-footer__card post-card">
	{{#if feature_image}}
		<div class="post-card__image">
			<img src="{{feature_image}}" alt="feature image">
		</div>
	{{else}}
		<div class="post-card__image">
			<img src="{{asset "assets/images/placeholder.png"}}" alt="feature image">
		</div>
	{{/if}}
	<div class="post-card__header">
		<div class="post-card__tags">{{tags separator=""}}</div>
		<div class="post-card__header-info">
			{{#if reading_time}}
				<div class="post-card__read-time">{{reading_time}}</div>
				<span class="post-card__header-bullet"></span>
			{{/if}}
			<div class="post-card__publication-date"><time datetime="{{date format="MMM YYYY"}}">{{date format="MMM YYYY"}}</time></div>
		</div>
	</div>
	<div class="post-card__body">
		<h3 class="post-card__title">{{title}}</h3>
		<div class="post-card__description">{{content}}</div>
	</div>
	<div class="post-card__footer">
		{{#foreach authors}}
			<div class="post-card__author">
				<div class="post-card__author-img">
					<img src="{{profile_image}}" alt="author image">
				</div>
				<div class="post-card__author-info">
					<span class="post-card__author-name">{{name}}</span>
					{{#if location}}
						<span class="post-card__author-location">{{location}}</span>
					{{/if}}
				</div>
			</div>
		{{/foreach}}
		<a href="{{url}}" class="post-card__link">Read article {{> icons/arrow-up-right}}</a>
	</div>
</div>

