<div class="post-footer__card post-card" data-tags="{{#primary_tag}}{{name}}{{/primary_tag}}">
	{{#if feature_image}}
		<a href="{{url}}" class="post-card__image">
			<img class="lazyload" src="{{asset 'assets/images/placeholder_loading.gif'}}" data-src="{{feature_image}}" alt="feature image">
		</a>
	{{else}}
		<a href="{{url}}" class="post-card__image">
			<img class="lazyload" src="{{asset 'assets/images/placeholder_loading.gif'}}" data-src="{{asset "assets/images/placeholder.png"}}" alt="feature image">
		</a>
	{{/if}}
	<div class="post-card__header">
		<div class="post-card__tags">{{tags separator=""}}</div>
	</div>
	<div class="post-card__body">
		<h3 class="post-card__title"><a href="{{url}}">{{title}}</a></h3>
		<div class="post-card__description">
			{{#if custom_excerpt}}
				{{custom_excerpt}}
			{{else}}
				{{excerpt}}
			{{/if}}
		</div>
	</div>
	<div class="post-card__header-info">
		{{#if reading_time}}
			<div class="post-card__read-time"> <img src="{{asset "assets/images/post/time.png"}}" alt="reading time icon"> {{reading_time}}</div>
		{{/if}}
		{{#has tag="#blog"}}
			<div class="post-card__publication-date"> <img src="{{asset "assets/images/post/date.png"}}" alt="date icon"> <time datetime="{{date format="MMM YYYY"}}">{{date format="MMM YYYY"}}</time></div>
		{{/has}}
	</div>
	<div class="post-card__footer">
		{{#foreach authors limit='1'}}
			<div class="post-card__author">
				<div class="post-card__author-img">
					<img src="{{profile_image}}" alt="author image">
				</div>
				<div class="post-card__author-info">
					<span class="post-card__author-name">{{name}}</span>
					{{#if location}}
						<span class="post-card__author-location">{{location}}</span>
					{{/if}}
				</div>
			</div>
		{{/foreach}}
		<a href="{{url}}" class="post-card__link">Read article {{> icons/arrow-up-right}}</a>
	</div>
</div>