<div class="tech-customers">
    <div class="tech-customers__shadow">{{> images/shadow1}}</div>
    <div class="w1340 tech-customers__wrapper">
        <div class="tech-customers__swiper-container">
            <div class="tech-customers__swiper">
                <ul class="tech-customers__cards">
                    <li class="tech-customers__card"><img src="{{asset "assets/images/tech-customers/logo-image-1.jpg"}}" alt="company logo image"></li>
                    <li class="tech-customers__card"><img src="{{asset "assets/images/tech-customers/logo-image-2.png"}}" alt="company logo image"></li>
                    <li class="tech-customers__card"><img src="{{asset "assets/images/tech-customers/logo-image-3.webp"}}" alt="company logo image"></li>
                    <li class="tech-customers__card"><img src="{{asset "assets/images/tech-customers/logo-image-4.svg"}}" alt="company logo image"></li>
                    <li class="tech-customers__card"><img src="{{asset "assets/images/tech-customers/logo-image-5.svg"}}" alt="company logo image"></li>
                    <li class="tech-customers__card"><img src="{{asset "assets/images/tech-customers/logo-image-6.svg"}}" alt="company logo image"></li>
                    <li class="tech-customers__card"><img src="{{asset "assets/images/tech-customers/logo-image-7.svg"}}" alt="company logo image"></li>
                    <li class="tech-customers__card"><img src="{{asset "assets/images/tech-customers/logo-image-8.png"}}" alt="company logo image"></li>
                </ul>
            </div>
        </div>
        <p class="tech-customers__text">The benefits of our system are proven. Companies around the world are witnessing our commitment to provide ethical manufacturers the tools to collect, interpret, and uncover valuable insights that help them compete.</p>
    </div>
</div>