<div class="tech-big-slider">
	<div class="w1340 tech-big-slider__content swiper">
		<div class="tech-big-slider__cards swiper-wrapper">
			<div class="tech-big-slider__card swiper-slide">
				<img src="{{asset "assets/images/industrial-iot/IoT-1-min.webp"}}" alt="industrial iot image">
			</div>
			<div class="tech-big-slider__card swiper-slide">
				<img src="{{asset "assets/images/industrial-iot/IoT-2-min.webp"}}" alt="industrial iot image">
			</div>
			<div class="tech-big-slider__card swiper-slide">
				<img src="{{asset "assets/images/industrial-iot/IoT-3-min.webp"}}" alt="industrial iot image">
			</div>
			<div class="tech-big-slider__card swiper-slide">
				<img src="{{asset "assets/images/industrial-iot/IoT-4-min.webp"}}" alt="industrial iot image">
			</div>
			<div class="tech-big-slider__card swiper-slide">
				<img src="{{asset "assets/images/industrial-iot/IoT-5-min.webp"}}" alt="industrial iot image">
			</div>
		</div>
		<div class="swiper-pagination"></div>
	</div>
</div>