<div class="tech-o-accordion">
	<div class="w1340">
		<h2 class="tech-o-accordion__title">Engaging With Work Instruction Software</h2>
		<p>Using electronic work instructions is incredibly easy on your Operators. Each workstation will need a computer with Compass (our work instruction reader) installed. Training is quick, and even without work instructions present the platform can be used to capture data.</p>
		<div class="tech-o-accordion__body">
			<div class="tech-o-accordion__left">
				<div class="tech-o-accordion__img tech-o-accordion__img-1 active"><img src="{{asset "assets/images/work-instructions/sign-in-image-6536ed3befdaf.webp"}}" alt="sign in image"></div>
				<div class="tech-o-accordion__img tech-o-accordion__img-2"><img src="{{asset "assets/images/work-instructions/select-production-order-6536ed3bd6a42.webp"}}" alt="select production image"></div>
				<div class="tech-o-accordion__img tech-o-accordion__img-3"><img src="{{asset "assets/images/work-instructions/prepare-job-6536ed3b171bc.webp"}}" alt="prepare job image"></div>
				<div class="tech-o-accordion__img tech-o-accordion__img-4"><img src="{{asset "assets/images/work-instructions/follow-instructions-6536ed3b19d0f.webp"}}" alt="follow instructions image"></div>
				<div class="tech-o-accordion__img tech-o-accordion__img-5"><img src="{{asset "assets/images/work-instructions/close-out-job-6536ed3a2c4ef.webp"}}" alt="close out image"></div>
			</div>
			<div class="tech-o-accordion__right">
				<div class="tech-o-accordion__item">
					<div class="tech-o-accordion__item-header active">
						<h2 class="tech-o-accordion__item-title">Sign-In to Compass</h2>
						<div class="tech-o-accordion__item-indicator">1</div>
					</div>
					<div class="tech-o-accordion__item-body">
						<p class="tech-o-accordion__item-description">
							Each Operator will have their own credentials to access Compass. This way all production data will be associated with a unique Operator.
						</p>
					</div>
				</div>
				<div class="tech-o-accordion__item">
					<div class="tech-o-accordion__item-header">
						<h2 class="tech-o-accordion__item-title">Select Production Order</h2>
						<div class="tech-o-accordion__item-indicator">2</div>
					</div>
					<div class="tech-o-accordion__item-body">
						<p class="tech-o-accordion__item-description">
							Operators can select from their daily production schedule or create a new job directly from Compass to access instructions.
						</p>
					</div>
				</div>
				<div class="tech-o-accordion__item">
					<div class="tech-o-accordion__item-header">
						<h2 class="tech-o-accordion__item-title">Prepare Job</h2>
						<div class="tech-o-accordion__item-indicator">3</div>
					</div>
					<div class="tech-o-accordion__item-body">
						<p class="tech-o-accordion__item-description">
							Provide the Bill of Materials and Tools needed to organize for the next job. Include setup work instructions for more complex tasks.
						</p>
					</div>
				</div>
				<div class="tech-o-accordion__item">
					<div class="tech-o-accordion__item-header">
						<h2 class="tech-o-accordion__item-title">Follow Work Instructions</h2>
						<div class="tech-o-accordion__item-indicator">4</div>
					</div>
					<div class="tech-o-accordion__item-body">
						<p class="tech-o-accordion__item-description">
							Enhance operational excellence by offering visual guidance to empower Operators in performing their daily tasks with improved accuracy and efficiency. Implement in-line quality assurance check points, safety & defect warnings, and more.
						</p>
					</div>
				</div>
				<div class="tech-o-accordion__item">
					<div class="tech-o-accordion__item-header">
						<h2 class="tech-o-accordion__item-title">Close-Out Job</h2>
						<div class="tech-o-accordion__item-indicator">5</div>
					</div>
					<div class="tech-o-accordion__item-body">
						<p class="tech-o-accordion__item-description">
							Seamlessly automate work order closure with Compass. When the final item is completed, our platform will automatically close out the work order. Take advantage of our powerful webhooks and API portal to seamlessly integrate Compass with your ERP system.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>