<!DOCTYPE html>
<html lang="{{@site.locale}}" class="hq-landing-html">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	{{> fonts-landing}}

   <title>Scout Systems | Free Work Instruction Software</title>

   <link rel="stylesheet" href="{{asset "built/index.css"}}" />
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

    {{ghost_head}}
    {{!-- Outputs important meta data and settings, should always be in <head> --}}

</head>

<body class="{{body_class}} hq-landing">
    
    <div class="hq-landing-main-wrapper">

        {{> structure/form-popup form_id="9756ac78-5731-4410-a723-4eca6a2f707f"}}

        <header class="landing-header">
            <div class="hq-landing-content-wrapper">
                {{> icons/logo-dark class='logo'}}
                <div style="cursor: pointer;" class="button runScriptButton">Get access now</div>
            </div>
        </header>

        <main>
            <section class="landing-hero">
                {{> images/landing-shadow classes="landing-hero__shadow-1"}}
                {{> images/landing-shadow classes="landing-hero__shadow-2"}}
                {{> images/landing-shadow classes="landing-hero__shadow-3"}}
                <div class="hq-landing-content-wrapper">
                    <h1 class="landing-hero__title">
                        Ditch Word/<wbr>Excel/<wbr><br>PowerPoint for a <br> <span class="green">FREE Software Suite</span> <span class="landing-hero__title-group">{{> icons/arrow-right-down-big}} <span>designed for Manufacturers!</span></span>
                    </h1>
                    <div class="landing-hero__cards">
                        <p class="landing-hero__card">
                            What you produce is only as good as the tools you use, the same goes for creating work instructions.
                        </p>
                        <p class="landing-hero__card">You wouldn’t use a wrench to fasten a screw, so why would you use the incorrect software to make your work instructions?</p>
                        <p class="landing-hero__card">Using Microsoft Word or similar platforms may yield an instruction but they take more effort to do, lack standardization, and we all know revision control is an absolute nightmare.</p>
                        <p class="landing-hero__card">These legacy platforms were the standard in manufacturing, mostly because they were readily available.</p>
                    </div>
                </div>
            </section>

            <section class="hq-landing-cta-1">
                {{> images/landing-ellipse classes='hq-landing-cta-1__ellipse-1'}}
                {{> images/landing-ellipse classes='hq-landing-cta-1__ellipse-2'}}

                <div class="hq-landing-content-wrapper">
                    <h2 class="hq-landing-cta-1__title">Today, you have the <br> <span class="margin-left">opportunity</span> <br> to use world class <br> <span class="italic">work instruction <br> software for free!</span></h2>
                    <div class="hq-landing-cta-1__subtitles">
                        <p>This isn’t a trial, and there are no strings attached. <span class="italic">No credit cards needed.</span></p>
                        <p>Get immediate access to our platform to use <span class="italic">FREE.</span></p>
                    </div>
                    <div style="cursor: pointer;" class="button runScriptButton">Sign Up</div>
                </div>
            </section>

            <section class="hq-landing-partners">
                {{> images/landing-shadow classes='hq-landing-partners__shadow'}}
               <div class="hq-landing-partners__swiper">
                    <div class="hq-landing-partners__cards">
                        <div class="hq-landing-partners__card">
                            <img src="{{asset "assets/images/tech-customers/logo-image-1.jpg"}}" alt="company logo image">
                        </div>
                        <div class="hq-landing-partners__card">
                            <img src="{{asset "assets/images/tech-customers/logo-image-2.png"}}" alt="company logo image">
                        </div>
                        <div class="hq-landing-partners__card">
                            <img src="{{asset "assets/images/tech-customers/logo-image-3.webp"}}" alt="company logo image">
                        </div>
                        <div class="hq-landing-partners__card">
                            <img src="{{asset "assets/images/tech-customers/logo-image-4.svg"}}" alt="company logo image">
                        </div>
                        <div class="hq-landing-partners__card">
                            <img src="{{asset "assets/images/tech-customers/logo-image-5.svg"}}" alt="company logo image">
                        </div>
                        <div class="hq-landing-partners__card">
                            <img src="{{asset "assets/images/tech-customers/logo-image-6.svg"}}" alt="company logo image">
                        </div>
                        <div class="hq-landing-partners__card">
                            <img src="{{asset "assets/images/tech-customers/logo-image-7.svg"}}" alt="company logo image">
                        </div>
                        <div class="hq-landing-partners__card">
                            <img src="{{asset "assets/images/tech-customers/logo-image-8.png"}}" alt="company logo image">
                        </div>
                    </div>
               </div>
            </section>

            <section class="hq-landing-better">
                {{> images/landing-shadow classes='hq-landing-better__shadow'}}
                <div class="hq-landing-content-wrapper">
                    <h2 class="hq-landing-better__title">You may be wondering what makes our system <span>better.</span></h2>
                    <div class="hq-landing-better__subtitle">
                        <p>There’s all kinds of software out there for word processing, tracking data, or creating slides for display. But how many of them are made specifically for work instructions?</p>
                        <p>Stop trying to hack together standardized work instructions using the wrong software. 
                            <br><span class="italic">There’s a better way!</span>
                        </p>
                    </div>
                    <div class="hq-landing-better__cards">
                        <div class="hq-landing-better__card">
                            <p><span class="italic">Design</span> your work instructions quickly. Our built-in tool libraries and image editors allow you to make or edit steps in seconds!</p>
                            <img class="lazyload" src="{{asset 'assets/images/free-hq-landing/section_better_image_1.png'}}" alt="Design block background image">
                        </div>
                        <div class="hq-landing-better__card">
                            <p><span class="italic">Review</span> your work instructions. If greater process control is required, you can add more people. Give them the roles of Designers or Reviewers.</p>
                            <img class="lazyload" src="{{asset 'assets/images/free-hq-landing/section_better_image_2.png'}}" alt="Review block background image">
                        </div>
                        <div class="hq-landing-better__card">
                            <p><span class="italic">Organize</span> your work instructions. Every change you make is stored and appears as a living document. Track your version history or compare previous designs with our simple to read Change Logs.</p>
                            <img class="lazyload" src="{{asset 'assets/images/free-hq-landing/section_better_image_3.png'}}" alt="Organize block background image">
                        </div>
                    </div>
                    <div class="hq-landing-better__text-below">
                        <p><span class="italic">This platform will set your organization up for the future of manufacturing.</span> Impress your customers with your commitment to standardization, reduce the training time of new operators, and give your staff the visual guidance to rapidly build your product following proven procedures.</p>
                    </div>
                </div>
            </section>

            <section class="hq-landing-why-give">
                <div class="hq-landing-content-wrapper">
                    <h2>
                        <span class="first">So why would</span>
                        <br>
                        <span class="second">we <span>give away</span> our award</span>
                        <br>
                        <span class="third">winning platform? {{> icons/arrow-right-down-big}}</span>
                    </h2>
                    <ul>
                        <li><p>That’s easy. We are a company that came from the manufacturing industry, we respect and appreciate what manufacturers do for the global economy.</p></li>
                        <li><p>The world continues to expect higher quality products for less cost, and this burden falls solely on manufacturers. We aren’t here to increase your costs! Especially if we’re not proving there’s a return to be had.</p></li>
                        <li><p>Standard work instructions have a proven track record of improving quality and throughput. You probably already know that. We want our users to be able to realize those benefits.</p></li>
                    </ul>
                </div>
            </section>

            <section class="hq-landing-reviews">
                {{> images/landing-shadow classes='hq-landing-reviews__shadow-1'}}
                {{> images/landing-shadow classes='hq-landing-reviews__shadow-2'}}
                <div class="hq-landing-content-wrapper">
                    <h2>What do our clients <br> <span>think about us?</span></h2>
                    <div class="hq-landing-reviews__cards">
                        <p class="hq-landing-reviews__card">“The software is easy to learn and manipulate. It is great that it can be very detailed or used in a slightly more generic way, the choice is yours.”</p>
                        <p class="hq-landing-reviews__card">“The system is excellent. Looking forward to full implementation and letting it gather data for analysis.”</p>
                        <p class="hq-landing-reviews__card">“Easily create digital work instructions in your process. Extremely agile vendor who works closely with you to solve any issues.”</p>
                    </div>
                </div>
            </section>

            <section class="hq-landing-whats-in">
                <div class="hq-landing-content-wrapper">
                    <h2>What’s in it for <br> <span>Scout Systems?</span></h2>
                    <p>We offer much more than our free work instruction software, we help manufacturers transition to digital factories - implementing advanced process control to significantly accelerate a factory’s quality and throughput.
                    <br>
                    Not everyone is ready for that!</p>
                    <p>Giving away our work instruction software for free is our first step in proving our commitment to your organization’s success.</p>
                </div>
            </section>

            <section class="hq-landing-cta-2">
                {{> images/landing-ellipse classes='hq-landing-cta-2__ellipse-1'}}
                {{> images/landing-ellipse classes='hq-landing-cta-2__ellipse-2'}}
                <div class="hq-landing-content-wrapper">
                    <div class="hq-landing-cta-2__header">
                        <h2><span class="italic">Do it. It’s free!</span><br><span>Sign up today.</span></h2>
                        <p>The day you are ready to embrace the digital revolution, we hope that you give us the opportunity to present our world class solution. Until then, we will happily provide you with the resources to prepare for that day.</p>
                    </div>
                    <div style="cursor: pointer;" class="button runScriptButton">sign up</div>
                </div>
            </section>

            <section class="hq-landing-video">
                {{> images/landing-shadow classes='hq-landing-video__shadow-1'}}
                {{> images/landing-shadow classes='hq-landing-video__shadow-2'}}
                <div class="hq-landing-content-wrapper">
                    <h2>Take a peak at what it looks like!</h2>
                    <video src="{{asset 'assets/images/free-hq-landing/video.mp4'}}" controls></video>
                </div>
            </section>

            <section class="hq-landing-learn">
                {{> images/landing-shadow classes='hq-landing-learn__shadow-1'}}
                {{> images/landing-shadow classes='hq-landing-learn__shadow-2'}}
                <div class="hq-landing-content-wrapper">
                    <h2><span class="first">How <span>easy</span> is this </span><br><span class="second">to learn?</span></h2>
                    <h3>The minute you sign up, you’ll have access to:</h3>
                    <ul>
                        <li>
                            <p>Approximately 12 minutes (that’s all it takes!) of guided tutorial videos for setting up the basics</p>
                        </li>
                        <li>
                            <p>Access to our Academy full of written instructions covering everything our software has to offer</p>
                        </li>
                        <li>
                            <p>24/7 access to an AI bot that knows the software inside and out - seriously, ask it anything about Scout!</p>
                        </li>
                    </ul>
                    <div><p>You’ll be creating digital work instructions within minutes. <span class="italic">FREE!</span></p></div>
                    <div><p>You’ll have access to PDF versions of all instructions. <span class="italic">FREE!</span></p></div>
                    <div><p>You’ll have immediate document and revision control. <span class="italic">FREE!</span></p></div>
                </div>
            </section>

            <section class="hq-landing-cta-3">
                {{> images/landing-ellipse classes='hq-landing-cta-2__ellipse-1'}}
                {{> images/landing-ellipse classes='hq-landing-cta-2__ellipse-2'}}
                <div class="hq-landing-content-wrapper">
                    <div class="hq-landing-cta-3__header">
                        <h2>Give it a try today.</h2>
                        <p>It’ll be SO MUCH EASIER to design, use, manage, and maintain than any of the word processors, spreadsheets, or slideshows you’ve used in the past. And it’s all FREE!</p>
                    </div>
                    <div style="cursor: pointer;" class="button runScriptButton">sign up for free</div>
                </div>
            </section>

        </main>
    </div>

    {{ghost_foot}}

    <script src="{{asset "built/index.js"}}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    
</body>
</html>