{{!< default}}



{{#post}}

	<div class="tech-hero post-hero">
		<div class="tech-hero__ellipse1">{{> images/tech-ellipse-black1}}</div>
		<div class="tech-hero__ellipse2">{{> images/tech-ellipse-black2}}</div>
		<div class="w1340">
			{{> structure/header}}
			<div class="post-hero__main">
				{{#if feature_image}}
					<img src="{{feature_image}}" alt="feature image" class="post-hero__image">
				{{else}}
					<img src="{{asset "assets/images/placeholder.png"}}" alt="feature image" class="post-hero__image">
				{{/if}}
				<div class="post-hero__text">
					<div class="post-hero__tags">{{tags}}</div>
					<h1 class="post-hero__title">{{title}}</h1>
					<div class="post-hero__footer">
						Author <span class="post-hero__footer-bold">{{authors}}</span>
						{{> icons/clock}}
						<span class="post-hero__footer-bold">{{reading_time}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="post-body">
		<div class="w1340">
			<div class="post-body__left side-panel">
				<h2 class="side-panel__title">On this page</h2>
				<nav id="scrollToLinks" class="side-panel__nav">

				</nav>
				<h2 class="side-panel__title">Share This Post</h2>
				<div class="side-panel__links">
					<div class="side-panel__link">{{> icons/post-twitter}}</div>
					<div class="side-panel__link">{{> icons/post-threads}}</div>
					<div class="side-panel__link">{{> icons/post-linkedin}}</div>
					<div class="side-panel__link">{{> icons/post-facebook}}</div>
					<div class="side-panel__link">{{> icons/post-email}}</div>
					<div id="copyLinkButton" class="side-panel__link">{{> icons/post-copy}}<span>Copy link</span></div>
				</div>
			</div>
			<div class="post-body__right">
				<div id="post-nav-container" class="post-body__content">
					{{content}}
				</div>
				<div class="post-body__right-footer">
					{{#get "authors"}}
						{{#foreach authors limit='1'}}
							<div class="post-body__author-card">
								<div class="post-body__author-image">
									{{#if profile_image}}
										<img src="{{profile_image}}" alt="author image">
									{{else}}
										<img src="{{asset "/assets/images/post/author-placholder.webp"}}" alt="author image">
									{{/if}}
								</div>
								<div class="post-body__author-description">
									<h2 class="post-body__author-name">{{name}}</h2>
									{{#if bio}}
										<p class="post-body__author-bio">{{bio}}</p>
									{{else}}
										<p class="post-body__author-bio">This author doesn't have any BIO for now.</p>
									{{/if}}
								</div>
							</div>
						{{/foreach}}
					{{/get}}
				</div>
			</div>
		</div>
	</div>
	{{#get "posts" include="tags,authors" limit="3" filter="id:-{{id}}" as |related|}}
	{{#if related}}
	<div class="post-footer">
		<div class="w1340">
			<h2 class="post-footer__title">Read next</h2>
			<div class="post-footer__cards">
				{{#foreach related}}
					{{> card}}
				{{/foreach}}
			</div>
		</div>
	</div>
	{{/if}}
	{{/get}}

{{/post}}