{{!< default}}

{{#contentFor "title"}}{{meta_title}}{{/contentFor}}

{{#post}}

	<div class="tech-hero post-hero">
		<div class="tech-hero__ellipse1">{{> images/tech-ellipse-black1}}</div>
		<div class="tech-hero__ellipse2">{{> images/tech-ellipse-black2}}</div>
		<div class="w1340">
			<div class="post-hero__main">
				{{#if feature_image}}
					<img src="{{feature_image}}" alt="feature image" class="post-hero__image">
				{{else}}
					<img src="{{asset "assets/images/placeholder.png"}}" alt="feature image" class="post-hero__image">
				{{/if}}
				<div class="post-hero__text">
					<div class="post-hero__tags">{{tags}}</div>
					<h1 class="post-hero__title">{{title}}</h1>
					<div class="post-hero__footer">
						Author <span class="post-hero__footer-bold">{{authors}}</span>
						{{> icons/clock}}
						<span class="post-hero__footer-bold">{{reading_time}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="post-body">
		<div class="w1340">
			<div class="post-body__left side-panel">
				<nav id="scrollToLinks" class="side-panel__nav">

				</nav>
				<div class="side-panel__desktop">
					{{#if @custom.post_cta_image}}
						<a href="{{@site.url}}/accelerator/" class="side-panel__cta-image">
							<img src="{{@custom.post_cta_image}}" alt="cta banner image">
						</a>
					{{/if}}
					<h2 class="side-panel__title">Share This Post</h2>
					<div class="side-panel__links">
						<a target="_blank" href="https://twitter.com/share?url={{@site.url}}{{url}}&via={{@site.title}}&text={{title}}" class="side-panel__link">{{> icons/post-twitter}}</a>
						<a target="_blank" href="https://www.linkedin.com/sharing/share-offsite/?url={{@site.url}}{{url}}/&title={{title}}" class="side-panel__link">{{> icons/post-linkedin}}</a>
						<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{@site.url}}{{url}}&t={{title}}" class="side-panel__link">{{> icons/post-facebook}}</a>
						<a target="_blank" href="mailto:?subject={{title}}&body=Check out this site: '{{@site.url}}{{url}}'" title="Share by Email';" class="side-panel__link">{{> icons/post-email}}</a>
						<div class="side-panel__link copyLinkButton">{{> icons/post-copy}}<span>Copy link</span></div>
					</div>
				</div>
			</div>
			<div class="post-body__right">
				<div id="post-nav-container" class="post-body__content">
					{{content}}
				</div>
				<div class="post-body__right-footer">
					{{#foreach authors limit='1'}}
						<div class="post-body__author-card">
							<div class="post-body__author-image">
								{{#if profile_image}}
									<img src="{{profile_image}}" alt="author image">
								{{else}}
									<img src="{{asset "assets/images/post/author-placholder.webp"}}" alt="author image">
								{{/if}}
							</div>
							<div class="post-body__author-description">
								<h2 class="post-body__author-name">{{name}}</h2>
								{{#if bio}}
									<p class="post-body__author-bio">{{bio}}</p>
								{{else}}
									<p class="post-body__author-bio">This author doesn't have any BIO for now.</p>
								{{/if}}
							</div>
						</div>
					{{/foreach}}
				</div>
				<div class="side-panel__mobile">
					{{#if @custom.post_cta_image}}
						<a href="{{@site.url}}/accelerator/" class="side-panel__cta-image">
							<img src="{{@custom.post_cta_image}}" alt="cta banner image">
						</a>
					{{/if}}
					<h2 class="side-panel__title">Share This Post</h2>
					<div class="side-panel__links">
						<a target="_blank" href="https://twitter.com/share?url={{@site.url}}{{url}}&via={{@site.title}}&text={{title}}" class="side-panel__link">{{> icons/post-twitter}}</a>
						<a target="_blank" href="https://www.linkedin.com/sharing/share-offsite/?url={{@site.url}}{{url}}/&title={{title}}" class="side-panel__link">{{> icons/post-linkedin}}</a>
						<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{@site.url}}{{url}}&t={{title}}" class="side-panel__link">{{> icons/post-facebook}}</a>
						<a target="_blank" href="mailto:?subject={{title}}&body=Check out this site: '{{@site.url}}{{url}}'" title="Share by Email';" class="side-panel__link">{{> icons/post-email}}</a>
						<div class="side-panel__link copyLinkButton">{{> icons/post-copy}}<span>Copy link</span></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{{#has tag="academy"}}
		
		<div class="post-footer">
			<div class="w1340 post-swiper">
				<h2 class="post-footer__title">Read next</h2>
				<div class="post-footer__cards">
					{{#get "posts" include="tags,authors" limit="3" filter="id:-{{id}}+tags:[{{tags[1].slug}}]" as |related|}}
					{{#if related}}
						{{#foreach related}}
							{{> card}}
						{{/foreach}}
					{{/if}}
					{{/get}}
					{{#get "posts" include="tags,authors" limit="3" filter="id:-{{id}}+tags:academy" as |related|}}
					{{#if related}}
						{{#foreach related}}
							{{> card}}
						{{/foreach}}
					{{/if}}
					{{/get}}
				</div>
				<div class="swiper-pagination"></div>
			</div>
		</div>

		<chat-bot platform_id="cfa51ac4-c913-4621-823c-588ea399ba0b" user_id="65e721a0-6df2-428e-b3f3-c9262477969f" chatbot_id="31adc5d1-bc97-4d80-b759-74297692d725"><a href="https://www.chatsimple.ai/?utm_source=widget&utm_medium=referral">[chatbot]</a></chat-bot>

		<style>
			.post-hero__tags > a:not(:first-child) {
				pointer-events: none;
			}
		</style>
	{{/has}}

	{{#has tag="#blog"}}
		<div class="post-footer">
			<div class="w1340 post-swiper">
				<h2 class="post-footer__title">Read next</h2>
				<div class="post-footer__cards">
					{{#get "posts" include="tags,authors" limit="3" filter="id:-{{id}}+tags:[{{tags[1].slug}}]" as |related|}}
					{{#if related}}
						{{#foreach related}}
							{{> card}}
						{{/foreach}}
					{{/if}}
					{{/get}}
					{{#get "posts" include="tags,authors" limit="3" filter="id:-{{id}}+tags:hash-blog" as |related|}}
					{{#if related}}
						{{#foreach related}}
							{{> card}}
						{{/foreach}}
					{{/if}}
					{{/get}}
				</div>
				<div class="swiper-pagination"></div>
			</div>
		</div>

		<style>
			.post-hero__tags > a {
				pointer-events: none;
			}
		</style>
	{{/has}}

{{/post}}