{{!< default}}

{{#contentFor "title"}}Production Waste Solutions through Root Cause Analysis{{/contentFor}}
{{#contentFor "meta-description"}}<meta name="description" content="Optimize your manufacturing with Scout Systems' Production Waste Solutions, using Root Cause Analysis to reduce inefficiencies and boost productivity.">{{/contentFor}}


<div class="tech-hero">
	<div class="tech-hero__ellipse1">{{> images/tech-ellipse-black1}}</div>
	<div class="tech-hero__ellipse2">{{> images/tech-ellipse-black2}}</div>
	<div class="w1340">
		<div class="tech-hero__text">
			<h1 class="tech-hero__title">Eliminate Production Waste</h1>
			<p class="tech-hero__subtitle">Empower your continuous improvement team with advanced Lean Six Sigma statistical tools. Our technology utilizes logic to analyze real-time data, detecting discrepancies and pinpointing root causes, even in the face of human error. With our advanced solution, your staff can achieve superior performance with minimal effort.</p>
		</div>
	</div>
</div>

<div class="tech-u-accordion">
	<div class="w1340">
		<div class="tech-u-accordion__left">
			<div class="tech-u-accordion__item">
				<div class="tech-u-accordion__item-header active">
					<h2 class="tech-u-accordion__title">Step Standard Deviation</h2>
					<div class="tech-u-accordion__indicator">{{> icons/minus}}{{> icons/plus}}</div>
				</div>

				<div class="tech-u-accordion__body">
					<div class="tech-u-accordion__list-item">
						{{> icons/checkmark}}
						<h3 class="tech-u-accordion__list-title">Our platform analyzes the individual tasks not only cycle times.</h3>
					</div>
					<div class="tech-u-accordion__list-item">
						{{> icons/checkmark}}
						<h3 class="tech-u-accordion__list-title">Even if Operators fail to record complications, the results will uncover challenges.</h3>
					</div>
				</div>
			</div>
			<div class="tech-u-accordion__item">
				<div class="tech-u-accordion__item-header">
					<h2 class="tech-u-accordion__title">Skipped Task</h2>
					<div class="tech-u-accordion__indicator">{{> icons/minus}}{{> icons/plus}}</div>
				</div>

				<div class="tech-u-accordion__body">
					<div class="tech-u-accordion__list-item">
						{{> icons/checkmark}}
						<h3 class="tech-u-accordion__list-title">Operators are warned if they are moving too fast or skip a step altogether.</h3>
					</div>
					<div class="tech-u-accordion__list-item">
						{{> icons/checkmark}}
						<h3 class="tech-u-accordion__list-title">Checkpoints can be used to verify Operator engagement.</h3>
					</div>
					<div class="tech-u-accordion__list-item">
						{{> icons/checkmark}}
						<h3 class="tech-u-accordion__list-title">Embed mandatory equipment signals to ensure all processes are completed.</h3>
					</div>
				</div>
			</div>
			<div class="tech-u-accordion__item">
				<div class="tech-u-accordion__item-header">
					<h2 class="tech-u-accordion__title">Customizable to Work Area</h2>
					<div class="tech-u-accordion__indicator">{{> icons/minus}}{{> icons/plus}}</div>
				</div>

				<div class="tech-u-accordion__body">
					<div class="tech-u-accordion__list-item">
						{{> icons/checkmark}}
						<h3 class="tech-u-accordion__list-title">Create unique categories and pause reasons.</h3>
					</div>
					<div class="tech-u-accordion__list-item">
						{{> icons/checkmark}}
						<h3 class="tech-u-accordion__list-title">Assign different color codes to appear in ANDON.</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="tech-u-accordion__right">
			<div class="tech-u-accordion__img tech-u-accordion__img-1 active"><img src="{{asset "assets/images/root-cause-analysis/standard-deviation-6536e98644ef6.webp"}}" alt="standard deviation image"></div>
			<div class="tech-u-accordion__img tech-u-accordion__img-2"><img src="{{asset "assets/images/root-cause-analysis/incomplete-step-6536e986402d5.webp"}}" alt="incomplete setup image"></div>
			<div class="tech-u-accordion__img tech-u-accordion__img-3"><img src="{{asset "assets/images/root-cause-analysis/pause-reasons-6536e9856371e.webp"}}" alt="pause reasons image"></div>
		</div>
	</div>
</div>

<div class="tech-green-cards">
	<div class="tech-green-cards__ellipse1">{{> images/tech-green-cards-ellipse1}}</div>
	<div class="tech-green-cards__ellipse2">{{> images/tech-green-cards-ellipse2}}</div>
	<div class="tech-green-cards__ellipse3">{{> images/tech-green-cards-ellipse2}}</div>
	<div class="w1340">
		<div class="tech-green-cards__card">
			<img src="{{asset "assets/images/root-cause-analysis/pareto-6536e9855b7ab.webp"}}" alt="pareto image" class="tech-green-cards__card-img">
			<div class="tech-green-cards__card-text">
				<h2 class="tech-green-cards__card-title">Pareto Diagram</h2>
				<p class="tech-green-cards__card-description">A powerful visual tool that helps identify the most important factors contributing to problems or outcomes by ordering them in descending importance. This chart tool allows you to prioritize your efforts and resources on the vital few factors that have the greatest impact, leading to significant improvements.</p>
			</div>
		</div>
		<div class="tech-green-cards__card">
			<div class="tech-green-cards__card-text">
				<h2 class="tech-green-cards__card-title">Root Cause Analysis</h2>
				<p class="tech-green-cards__card-description">Easily pinpoint and measure production stops by zooming in to identify specific issues within your main categories. This streamlined process allows you to quickly locate and address the root causes of your greatest problems, leading to improved efficiency and productivity.</p>
			</div>
			<img src="{{asset "assets/images/root-cause-analysis/root-cause-6536e984edf2c.webp"}}" alt="root cause image" class="tech-green-cards__card-img">
		</div>
	</div>
</div>

<div class="tech-track">
	<div class="w1340 tech-track-swiper">
		<h2 class="tech-track__title">Find Hidden Waste</h2>
		<p class="tech-track__subtitle">Visualize activity at your production cells or follow a specific Operator to better understand how to manage your workforce.</p>
		<div class="tech-track__img">
			<img src="{{asset "assets/images/root-cause-analysis/production-gaps-6536e984a5813.webp"}}" alt="production gaps image">
		</div>
		<div class="tech-track__cards">
			<div class="tech-track__card">
				<div class="tech-track__card-icon">{{> icons/tech-track-icon1}}</div>
				<h3 class="tech-track__card-title">Production Gaps</h3>
				<p class="tech-track__card-description">A common source of waste is the time it takes in between work orders.</p>
				<a class="learn-more-button" href="{{@site.url}}/reducing-production-gaps/">Read about <span class="green-arrow">{{>icons/arrow-right}}</span></a>
			</div>
			<div class="tech-track__card">
				<div class="tech-track__card-icon">{{> icons/tech-track-icon2}}</div>
				<h3 class="tech-track__card-title">Operator Inactivity</h3>
				<p class="tech-track__card-description">Discover when Operators are idle at their station, or abandoning it altogether.</p>
				<a class="learn-more-button" href="{{@site.url}}/operator-inactivity-types-and-causes/">Read about <span class="green-arrow">{{>icons/arrow-right}}</span></a>
			</div>
			<div class="tech-track__card">
				<div class="tech-track__card-icon">{{> icons/tech-track-icon3}}</div>
				<h3 class="tech-track__card-title">Priority Changes</h3>
				<p class="tech-track__card-description">Rush jobs can destroy productivity by adding unnecessary setup time.</p>
				<a class="learn-more-button" href="{{@site.url}}/preserving-quality-with-rush-jobs/">Read about <span class="green-arrow">{{>icons/arrow-right}}</span></a>
			</div>
		</div>
		<div class="swiper-pagination"></div>
	</div>
</div>

<div class="tech-green-photos white">
	<div class="tech-green-photos__shadow">{{> images/shadow1}}</div>
	<div class="w1340">
		<div class="tech-green-photos__left">
			<h2 class="tech-green-photos__title">Your Strategic Partner</h2>
			<p class="tech-green-photos__subtitle">Change is always great on paper, but tough to make real in a factory stuck in the last century. Our team of experts do nothing but assist manufacturers transform their factory to the digital world. They listen to your challenges, limitations, and organizational goals to assist you in creating a data-driven roadmap.</p>
			<a class="learn-more-button" href="{{@site.url}}/accelerator/">Learn more <span class="green-arrow">{{>icons/arrow-right}}</span></a>
		</div>
		<div class="tech-green-photos__right">
			<div class="tech-green-photos__img">
				<img src="{{asset "assets/images/data-collection/Strategic Partner 1.webp"}}" alt="strategic partner image">
			</div>
			<div class="tech-green-photos__img">
				<img src="{{asset "assets/images/data-collection/Strategic Partner 3.webp"}}" alt="strategic partner image">
			</div>
			<div class="tech-green-photos__img">
				<img src="{{asset "assets/images/data-collection/Strategic Partner 4.webp"}}" alt="strategic partner image">
			</div>
			<div class="tech-green-photos__img">
				<img src="{{asset "assets/images/data-collection/Strategic Partner 2.webp"}}" alt="strategic partner image">
			</div>
		</div>
	</div>
</div>