{{!< default}}

{{#contentFor "title"}}{{@site.title}} - Tech overview{{plural pagination.page empty='' singular='' plural=' – (Page %)'}}{{/contentFor}}

<div class="tech-hero">
	<div class="tech-hero__ellipse1">{{> images/tech-ellipse-black1}}</div>
	<div class="tech-hero__ellipse2">{{> images/tech-ellipse-black2}}</div>
	<div class="w1340">
		<div class="tech-hero__text">
			<h1 class="tech-hero__title">OUR 3 PILLAR APPROACH</h1>
			<p class="tech-hero__subtitle">We believe that Production Data is only useful when the People, the Equipment, and the
			Operational flow of the factory are jointly monitored. Discover how simple it is to join software
			with your current assets to unlock a world of advancement.</p>
		</div>
	</div>
</div>

<div class="tech-green-cards white">
	<div class="tech-green-cards__ellipse1">{{> images/shadow1}}</div>
	<div class="tech-green-cards__ellipse2">{{> images/shadow1}}</div>
	<div class="w1340">
		<div class="tech-green-cards__card">
			<div class="tech-green-cards__card-text">
				<h2 class="tech-green-cards__card-title">COMPASS</h2>
				<p class="tech-green-cards__card-description">Digital Work Instructions do more than guide your Operators - they act as an
				invaluable sensor providing profound insights into your production processes.
				Compass, our award-winning application, is acclaimed for its swift learning curve and versatile offerings. Whether tackling complex or simple builds, adhering to
				batch or single piece flow, or navigating high or low mix scenarios, our staff will
				configure the platform to amplify its value proposition, ensuring a seamless
				alignment with your manufacturing process.</p>
				<a href="https://cta-service-cms2.hubspot.com/web-interactives/public/v1/track/redirect?encryptedPayload=AVxigLJdg0x%2BA8JB9S6KB8iaAx440f898ylNEtcv2g1YsQqQEjIxKd5cvRiOVd7EaOwF9nyDgHPIrnCLXl5%2FOktHSwNyOdaaVpdVj2fY9lzeJDQ6EPunHJq83tP7bXIWDOVHcgKxeUlwsZm72DWj9oFDOWat2qj0pUxMvPYfRGMc7oZMvS%2FYZiOY&webInteractiveContentId=128943797352&portalId=41638633" target="_blank" class="default-button_green show-desktop">Schedule A Demo</a>
			</div>
			<div class="tech-green-cards__card-img"><iframe src="https://player.vimeo.com/video/877111033?h=2e9a7d1c30&title=0&byline=0&portrait=0" style="width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div>
			<a href="https://cta-service-cms2.hubspot.com/web-interactives/public/v1/track/redirect?encryptedPayload=AVxigLJdg0x%2BA8JB9S6KB8iaAx440f898ylNEtcv2g1YsQqQEjIxKd5cvRiOVd7EaOwF9nyDgHPIrnCLXl5%2FOktHSwNyOdaaVpdVj2fY9lzeJDQ6EPunHJq83tP7bXIWDOVHcgKxeUlwsZm72DWj9oFDOWat2qj0pUxMvPYfRGMc7oZMvS%2FYZiOY&webInteractiveContentId=128943797352&portalId=41638633" target="_blank" class="default-button_green show-mobile">Schedule A Demo</a>
			
		</div>
		<div class="tech-green-cards__card">
			<a href="https://cta-service-cms2.hubspot.com/web-interactives/public/v1/track/redirect?encryptedPayload=AVxigLJdg0x%2BA8JB9S6KB8iaAx440f898ylNEtcv2g1YsQqQEjIxKd5cvRiOVd7EaOwF9nyDgHPIrnCLXl5%2FOktHSwNyOdaaVpdVj2fY9lzeJDQ6EPunHJq83tP7bXIWDOVHcgKxeUlwsZm72DWj9oFDOWat2qj0pUxMvPYfRGMc7oZMvS%2FYZiOY&webInteractiveContentId=128943797352&portalId=41638633" target="_blank" class="default-button_green show-mobile">SCHEDULE CONSULTATION</a>
			<div class="tech-green-cards__card-img"><iframe src="https://player.vimeo.com/video/877113250?h=ddbeab264d&title=0&byline=0&portrait=0" style="width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div>
			<div class="tech-green-cards__card-text">
				<h2 class="tech-green-cards__card-title">HQ</h2>
				<p class="tech-green-cards__card-description">Providing a structured environment for factory leadership to make decisions,
				plan, and manage operations - HQ serves as a communication hub, responsible
				for analyzing and disseminating production data. Its role-based structure allows
				manufacturers to give key personnel access to tools to facilitate process control.
				Real-time data and notifications reduce reactionary latency while providing
				insights to prevent future production waste.</p>
				<a href="https://cta-service-cms2.hubspot.com/web-interactives/public/v1/track/redirect?encryptedPayload=AVxigLJdg0x%2BA8JB9S6KB8iaAx440f898ylNEtcv2g1YsQqQEjIxKd5cvRiOVd7EaOwF9nyDgHPIrnCLXl5%2FOktHSwNyOdaaVpdVj2fY9lzeJDQ6EPunHJq83tP7bXIWDOVHcgKxeUlwsZm72DWj9oFDOWat2qj0pUxMvPYfRGMc7oZMvS%2FYZiOY&webInteractiveContentId=128943797352&portalId=41638633" target="_blank" class="default-button_green show-desktop">SCHEDULE CONSULTATION</a>
			</div>
		</div>
		<div class="tech-green-cards__card">
			<div class="tech-green-cards__card-text">
				<h2 class="tech-green-cards__card-title">TRACKER</h2>
				<p class="tech-green-cards__card-description">A code-less edge device, designed for rugged environments, Tracker is the
				bridge connecting Compass to tools and machinery. Rather than localizing logic
				to the device, it relies on Compass to decipher the signal. This provides a
				universal option with expanding capabilities. Engineered for resilience in rugged environments, Tracker serves as a seamless
				conduit linking Compass to your array of tools and machinery, all without the fuss
				of code. Unlike conventional hardware tethered to localized firmware, Tracker
				entrusts Compass with the task of signal interpretation. This distinct design
				makes Tracker a near universal fit for everything in your factory - be it new or
				age-old equipment - but also lays a robust foundation for evolving capabilities.</p>
				<a href="https://cta-service-cms2.hubspot.com/web-interactives/public/v1/track/redirect?encryptedPayload=AVxigLJdg0x%2BA8JB9S6KB8iaAx440f898ylNEtcv2g1YsQqQEjIxKd5cvRiOVd7EaOwF9nyDgHPIrnCLXl5%2FOktHSwNyOdaaVpdVj2fY9lzeJDQ6EPunHJq83tP7bXIWDOVHcgKxeUlwsZm72DWj9oFDOWat2qj0pUxMvPYfRGMc7oZMvS%2FYZiOY&webInteractiveContentId=128943797352&portalId=41638633" target="_blank" class="default-button_green show-desktop">ASK OUR ENGINEERS</a>
			</div>
			<div class="tech-green-cards__card-img"><iframe src="https://player.vimeo.com/video/877113548?h=73ca81c4d4&title=0&byline=0&portrait=0" style="width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div>
			<a href="https://cta-service-cms2.hubspot.com/web-interactives/public/v1/track/redirect?encryptedPayload=AVxigLJdg0x%2BA8JB9S6KB8iaAx440f898ylNEtcv2g1YsQqQEjIxKd5cvRiOVd7EaOwF9nyDgHPIrnCLXl5%2FOktHSwNyOdaaVpdVj2fY9lzeJDQ6EPunHJq83tP7bXIWDOVHcgKxeUlwsZm72DWj9oFDOWat2qj0pUxMvPYfRGMc7oZMvS%2FYZiOY&webInteractiveContentId=128943797352&portalId=41638633" target="_blank" class="default-button_green show-mobile">ASK OUR ENGINEERS</a>
		</div>
	</div>
</div>

<div class="tech-track tech-track_home tech-track_tech">
	<div class="tech-track__shadow1">{{> images/shadow1}}</div>
	<div class="w1340">
		<h2 class="tech-track__title">EXPERIENCE MODERNIZED OPERATIONS</h2>
		<p class="tech-track__subtitle">Scout System’s digital solution adapts to fit virtually any type of manufacturer.
		From Assembly to Machining, Single-Piece-Flow to Batch processes, this universal
		solution will help streamline your operations.</p>
		<div class="tech-track__img">
			<iframe src="https://player.vimeo.com/video/877268659?h=56f0c67fc7&autoplay=1&loop=1" style="width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>
</div>

<div class="tech-white-cards-1 tech-white-cards-1_green">
	<div class="w1340">
		<div class="tech-white-cards-1__left">
			<h2 class="tech-white-cards-1__title">ACCESS NEW FORMS OF AUTOMATION</h2>
			<p class="tech-white-cards-1__subtitle">Maximize the benefits of a Digital Factory through the use of simple, yet
 			powerful API calls.</p>
		</div>
		<div class="tech-white-cards-1__right">
			<div class="tech-white-cards-1__card">
				<div class="tech-white-cards-1__card-img">{{> icons/tech-cards1-icon1}}</div>
				<h3 class="tech-white-cards-1__card-title">Scheduling</h3>
				<p class="tech-white-cards-1__card-description">Ditch Paper Travelers and have your ERP open/close work orders.</p>
			</div>
			<div class="tech-white-cards-1__card">
				<div class="tech-white-cards-1__card-img">{{> icons/tech-cards1-icon2}}</div>
				<h3 class="tech-white-cards-1__card-title">Forecasting</h3>
				<p class="tech-white-cards-1__card-description">Update cycle times with trustworthy data to accurately bill and plan.</p>
			</div>
			<div class="tech-white-cards-1__card">
				<div class="tech-white-cards-1__card-img">{{> icons/tech-cards1-icon3}}</div>
				<h3 class="tech-white-cards-1__card-title">Maintenance</h3>
				<p class="tech-white-cards-1__card-description">Improve your Preventative Maintenance by tracking exact usage.</p>
			</div>
			<div class="tech-white-cards-1__card">
				<div class="tech-white-cards-1__card-img">{{> icons/tech-cards1-icon4}}</div>
				<h3 class="tech-white-cards-1__card-title">Webhooks</h3>
				<p class="tech-white-cards-1__card-description">Create notifications for Production Events to trigger new actions.</p>
			</div>
		</div>
	</div>
</div>

<div class="tech-white-cards-3 tech-white-cards-3_tech">
	<div class="w1340 tech-white-cards-3-swiper_tech">
		<h2 class="tech-white-cards-3__title">RESOURCE CHECKLIST: Preparing for Your Digital Factory Transition</h2>
		<p class="tech-white-cards-3__subtitle">
			Ensuring a Smooth Integration with Minimal Requirements
		</p>
		<div class="tech-white-cards-3__cards">
			<div class="tech-white-cards-3__card">
				<div class="tech-white-cards-3__card-iterator">1</div>
				<h3 class="tech-white-cards-3__card-title">Connectivity</h3>
				<p class="tech-white-cards-3__card-subtitle">Ensure internet access (WiFi acceptable) on the production floor.
				Our lightweight applications can continue processing data even through
				intermittent dropouts.</p>
				{{!-- <div class="tech-white-cards-3__card-list">
					<h4 class="tech-white-cards-3__card-list-item"><span class="tech-white-cards-3__card-list-round"></span>Setup Duration</h4>
					<h4 class="tech-white-cards-3__card-list-item"><span class="tech-white-cards-3__card-list-round"></span>Value Added Time</h4>
					<h4 class="tech-white-cards-3__card-list-item"><span class="tech-white-cards-3__card-list-round"></span>Down-Time Frequency</h4>
				</div> --}}
			</div>
			<div class="tech-white-cards-3__card">
				<div class="tech-white-cards-3__card-iterator">2</div>
				<h3 class="tech-white-cards-3__card-title">Computing Devices</h3>
				<p class="tech-white-cards-3__card-subtitle">You will need to equip your facility with the minimum hardware.</p>
				<div class="tech-white-cards-3__card-list">
					<h4 class="tech-white-cards-3__card-list-item"><span class="tech-white-cards-3__card-list-round"></span>Computers or Tablets</h4>
					<h4 class="tech-white-cards-3__card-list-item"><span class="tech-white-cards-3__card-list-round"></span>Windows 10+ OS</h4>
				</div>
			</div>
			<div class="tech-white-cards-3__card">
				<div class="tech-white-cards-3__card-iterator">3</div>
				<h3 class="tech-white-cards-3__card-title">Project Champions</h3>
				<p class="tech-white-cards-3__card-subtitle">Designated staff to be the main drivers of the project.</p>
				<div class="tech-white-cards-3__card-list">
					<h4 class="tech-white-cards-3__card-list-item"><span class="tech-white-cards-3__card-list-round"></span>2 Dedicated Staff Needed</h4>
					<h4 class="tech-white-cards-3__card-list-item"><span class="tech-white-cards-3__card-list-round"></span>1-2 hours a week</h4>
				</div>
			</div>
			<div class="tech-white-cards-3__card">
				<div class="tech-white-cards-3__card-iterator">4</div>
				<h3 class="tech-white-cards-3__card-title">Long Term Goals</h3>
				<p class="tech-white-cards-3__card-subtitle">Projects are more most successful when there is a target to aim for.</p>
				<div class="tech-white-cards-3__card-list">
					<h4 class="tech-white-cards-3__card-list-item"><span class="tech-white-cards-3__card-list-round"></span>Desired deliverables</h4>
					<h4 class="tech-white-cards-3__card-list-item"><span class="tech-white-cards-3__card-list-round"></span>Timeframe</h4>
				</div>
			</div>
		</div>
		<div class="swiper-pagination"></div>
	</div>
</div>

<div class="tech-green-stats white tech">

	{{> structure/form-popup title='Get the FREE Toolkit'}}

	<div class="tech-green-stats__shadow1">{{> images/shadow1}}</div>
	<div class="tech-green-stats__shadow2">{{> images/shadow1}}</div>
	<div class="w1340">
		<div class="tech-green-stats__left">
			<h2 class="tech-green-stats__title">HOW WE GET YOU STARTED</h2>
			<a href="https://cta-service-cms2.hubspot.com/web-interactives/public/v1/track/redirect?encryptedPayload=AVxigLJdg0x%2BA8JB9S6KB8iaAx440f898ylNEtcv2g1YsQqQEjIxKd5cvRiOVd7EaOwF9nyDgHPIrnCLXl5%2FOktHSwNyOdaaVpdVj2fY9lzeJDQ6EPunHJq83tP7bXIWDOVHcgKxeUlwsZm72DWj9oFDOWat2qj0pUxMvPYfRGMc7oZMvS%2FYZiOY&webInteractiveContentId=128943797352&portalId=41638633" target="_blank" class="default-button_green">Schedule Consultation</a>
		</div>
		<div class="tech-green-stats__right">
			<div class="tech-green-stats__card">
				<div class="tech-green-stats__card-img">{{> icons/tech-green-stats-icon1 color='dark'}}</div>
				<div class="tech-green-stats__card-text">
					<h3 class="tech-green-stats__card-title">See It In Action</h3>
					<p class="tech-green-stats__card-description">Schedule some time to see the software in action. Talk with our team about next steps, tools for success, and what it means to partner with Scout Systems.</p>
					<a class="learn-more-button" target="_blank" href="https://cta-service-cms2.hubspot.com/web-interactives/public/v1/track/redirect?encryptedPayload=AVxigLJdg0x%2BA8JB9S6KB8iaAx440f898ylNEtcv2g1YsQqQEjIxKd5cvRiOVd7EaOwF9nyDgHPIrnCLXl5%2FOktHSwNyOdaaVpdVj2fY9lzeJDQ6EPunHJq83tP7bXIWDOVHcgKxeUlwsZm72DWj9oFDOWat2qj0pUxMvPYfRGMc7oZMvS%2FYZiOY&webInteractiveContentId=128943797352&portalId=41638633">See A Demo <span class="green-arrow">{{>icons/arrow-right}}</span></a>
				</div>
			</div>
			<div class="tech-green-stats__card">
				<div class="tech-green-stats__card-img">{{> icons/tech-green-stats-icon2 color='dark'}}</div>
				<div class="tech-green-stats__card-text">
					<h3 class="tech-green-stats__card-title">Free Tools</h3>
					<p class="tech-green-stats__card-description">We believe that identifying ‘success’ indicators when introducing new tech is an absolute must. We will provide you a copy of our PSMEA (Project Success Mode Effects Analysis) worksheet for no charge.</p>
					<div style="cursor: pointer;" class="learn-more-button runScriptButton">Send Me the PSMEA <span class="green-arrow">{{>icons/arrow-right}}</span></div>
				</div>
			</div>
			<div class="tech-green-stats__card">
				<div class="tech-green-stats__card-img">{{> icons/tech-green-stats-icon3 color='dark'}}</div>
				<div class="tech-green-stats__card-text">
					<h3 class="tech-green-stats__card-title">Our Accelerator Program</h3>
					<p class="tech-green-stats__card-description">Let our team of experts guide you through the first 90 days of implementation.
					See how we find ways to guarantee our system provides value for you right
					away.</p>
					<a class="learn-more-button" target="_blank" href="{{@site.url}}/accelerator/">Learn More <span class="green-arrow">{{>icons/arrow-right}}</span></a>
				</div>
			</div>
		</div>
	</div>
</div>

{{!-- {{> structure/technology/tech-video-white}} --}}

{{!-- {{> structure/technology/tech-u-accordion}} --}}

{{!-- {{> structure/technology/tech-big-photo}} --}}

{{!-- {{> structure/technology/tech-track}} --}}

{{!-- {{> structure/technology/tech-green-cards}} --}}

{{!-- {{> structure/technology/tech-u-accordion-wide}} --}}
	

{{!-- <div class="popular">
	<div class="w1340">
		<h2 class="popular__title">Popular platform offerings</h2>
		<div class="popular__cards">
			<a href="{{@site.url}}/work-instructions/" class="popular__card">
				<img class="popular__card-img" src="{{asset "assets/images/popular1.webp"}}" alt="card image">
				<h3 class="popular__card-title">Work Instructions</h3>
			</a>
			<a href="{{@site.url}}/shop-floor-management/" class="popular__card">
				<img class="popular__card-img" src="{{asset "assets/images/popular2.webp"}}" alt="card image">
				<h3 class="popular__card-title">shop floor management</h3>
			</a>
			<a href="{{@site.url}}/data-collection/" class="popular__card">
				<img class="popular__card-img" src="{{asset "assets/images/popular3.webp"}}" alt="card image">
				<h3 class="popular__card-title">data collection</h3>
			</a>
			<a href="{{@site.url}}/root-cause-analysis/" class="popular__card">
				<img class="popular__card-img" src="{{asset "assets/images/popular4.webp"}}" alt="card image">
				<h3 class="popular__card-title">root cause analysis</h3>
			</a>
			<a href="{{@site.url}}/industrial-iot/" class="popular__card">
				<img class="popular__card-img" src="{{asset "assets/images/popular5.webp"}}" alt="card image">
				<h3 class="popular__card-title">industrial ioT</h3>
			</a>
		</div>
	</div>
</div> --}}