{{!< default}}

{{#contentFor "title"}}{{@site.title}} - Data collection{{plural pagination.page empty='' singular='' plural=' – (Page %)'}}{{/contentFor}}

<div class="tech-hero">
	<div class="tech-hero__ellipse1">{{> images/tech-ellipse-black1}}</div>
	<div class="tech-hero__ellipse2">{{> images/tech-ellipse-black2}}</div>
	<div class="w1340">
		<div class="tech-hero__text">
			<h1 class="tech-hero__title">Superior Data Accuracy</h1>
			<p class="tech-hero__subtitle">Gain a comprehensive and holistic view of your operations. Through advanced analysis, we delve into equipment, people, and overall processes, ensuring no aspect is overlooked. Our platform employs advanced statistical techniques to continuously monitor data, identifying any potential errors or anomalies.</p>
		</div>
	</div>
</div>

<div style="padding: 10rem 0;">
	{{> structure/technology/tech-white-cards-3}}
</div>

<div class="tech-green-cards">
	<div class="tech-green-cards__ellipse1">{{> images/tech-green-cards-ellipse1}}</div>
	<div class="tech-green-cards__ellipse2">{{> images/tech-green-cards-ellipse2}}</div>
	<div class="tech-green-cards__ellipse3">{{> images/tech-green-cards-ellipse2}}</div>
	<div class="w1340">
		<div class="tech-green-cards__card">
			<img src="{{asset "assets/images/data-collection/Reporting.png"}}" alt="reporting image" class="tech-green-cards__card-img">
			<div class="tech-green-cards__card-text">
				<h2 class="tech-green-cards__card-title">Production Reports</h2>
				<p class="tech-green-cards__card-description">Unlock insights by visualizing your data with our library of pre-made reports ranging from generic to specific conditions. Go beyond basic averages and drill into individual task time performances, do root cause analysis of your down-time, and benefit from dynamically updating performance metrics.</p>
			</div>
		</div>
		<div class="tech-green-cards__card">
			<div class="tech-green-cards__card-text">
				<h2 class="tech-green-cards__card-title">API Portal</h2>
				<p class="tech-green-cards__card-description">Open the world of new forms of automation with our API Portal. Connect our platform to your ERP, Maintenance and Quality Management systems, or to software like Power BI to build out your own custom dashboards and reports. Eliminate the need for manual data entry, and convert to a fully paperless factory.</p>
			</div>
			<img src="{{asset "assets/images/data-collection/API Dev Portal.png"}}" alt="api dev portal image" class="tech-green-cards__card-img">
		</div>
	</div>
</div>

<div class="tech-green-photos white">
	<div class="tech-green-photos__shadow">{{> images/shadow1}}</div>
	<div class="w1340">
		<div class="tech-green-photos__left">
			<h2 class="tech-green-photos__title">Your Strategic Partner</h2>
			<p class="tech-green-photos__subtitle">Change is always great on paper, but tough to make real in a factory stuck in the last century. Our team of experts do nothing but assist manufacturers transform their factory to the digital world. They listen to your challenges, limitations, and organizational goals to assist you in creating a data-driven roadmap.</p>
			<a class="learn-more-button" href="{{@site.url}}/accelerator/">Learn more <span class="green-arrow">{{>icons/arrow-right}}</span></a>
		</div>
		<div class="tech-green-photos__right">
			<div class="tech-green-photos__img">
				<img src="{{asset "assets/images/data-collection/Strategic Partner 1.JPG"}}" alt="strategic partner image">
			</div>
			<div class="tech-green-photos__img">
				<img src="{{asset "assets/images/data-collection/Strategic Partner 3.jpg"}}" alt="strategic partner image">
			</div>
			<div class="tech-green-photos__img">
				<img src="{{asset "assets/images/data-collection/Strategic Partner 4.jpg"}}" alt="strategic partner image">
			</div>
			<div class="tech-green-photos__img">
				<img src="{{asset "assets/images/data-collection/Strategic Partner 2.jpg"}}" alt="strategic partner image">
			</div>
		</div>
	</div>
</div>