<div class="home">

	<div class="popular">
		<div class="w1340">
			<h2 class="popular__title">Popular platform offerings</h2>
			<div class="popular__cards">
				<div class="popular__card">
					<img class="popular__card-img" src="{{asset "assets/images/popular1.png"}}" alt="card image">
					<h3 class="popular__card-title">Work Instructions</h3>
				</div>
				<div class="popular__card">
					<img class="popular__card-img" src="{{asset "assets/images/popular2.png"}}" alt="card image">
					<h3 class="popular__card-title">shop floor management</h3>
				</div>
				<div class="popular__card">
					<img class="popular__card-img" src="{{asset "assets/images/popular3.png"}}" alt="card image">
					<h3 class="popular__card-title">data collection</h3>
				</div>
				<div class="popular__card">
					<img class="popular__card-img" src="{{asset "assets/images/popular4.png"}}" alt="card image">
					<h3 class="popular__card-title">root cause analysis</h3>
				</div>
				<div class="popular__card">
					<img class="popular__card-img" src="{{asset "assets/images/popular5.png"}}" alt="card image">
					<h3 class="popular__card-title">industrial iot</h3>
				</div>
			</div>
		</div>
	</div>

	<div class="become">
		<div class="home-shadow-1">{{>images/shadow1}}</div>
		<div class="home-shadow-2">{{>images/shadow2}}</div>

		<div class="w1340">
			<div class="become-content">
				<h2 class="become__title">Become a Smart Factory</h2>
				<p class="become__subtitle">Change is always great on paper, but tough to make real in a factory stuck in the last century. We have the solution. Scout System’s platform enables vertically integrated manufacturers to optimize their process with a universal solution.</p>
				<a class="learn-more-button" href="#">Learn more <span class="green-arrow">{{>icons/arrow-right}}</span></a>
				<div class="home-factory"><img src="{{asset "assets/images/factory-image.webp"}}" alt="factory image"></div>
			</div>
		</div>
	</div>

	<div class="home-big-video">
		<div class="w1340">
			<iframe src="https://www.youtube.com/embed/Jox6R5-rIH0?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
			<div class="video-shadow">
				{{>images/video-shadow}}
			</div>
		</div>
	</div>

	{{>structure/cta}}

	<div class="w1340">
		<div class="testimonials swiper">
			<h2 class="testimonials__title">Testimonials</h2>
			<div class="testimonials__body swiper-wrapper">
				<div class="testimonials__card t-card swiper-slide">
					<img class="t-card__photo" src="{{asset "assets/images/t-card-image.png"}}" alt="author photo">
					<h3 class="t-card__title">GREG NELSON</h3>
					<p class="t-card__company">Northwest automatics inc.</p>
					<p class="t-card__text">“This is the most useful tool I have been introduced to in my 37 years of manufacturing experience.”</p>
				</div>
				<div class="testimonials__card t-card swiper-slide">
					<img class="t-card__photo" src="{{asset "assets/images/t-card-image.png"}}" alt="author photo">
					<h3 class="t-card__title">GREG NELSON</h3>
					<p class="t-card__company">Northwest automatics inc.</p>
					<p class="t-card__text">“This is the most useful tool I have been introduced to in my 37 years of manufacturing experience.”</p>
				</div>
				<div class="testimonials__card t-card swiper-slide">
					<img class="t-card__photo" src="{{asset "assets/images/t-card-image.png"}}" alt="author photo">
					<h3 class="t-card__title">GREG NELSON</h3>
					<p class="t-card__company">Northwest automatics inc.</p>
					<p class="t-card__text">“This is the most useful tool I have been introduced to in my 37 years of manufacturing experience.”</p>
				</div>
				<div class="testimonials__card t-card swiper-slide">
					<img class="t-card__photo" src="{{asset "assets/images/t-card-image.png"}}" alt="author photo">
					<h3 class="t-card__title">GREG NELSON</h3>
					<p class="t-card__company">Northwest automatics inc.</p>
					<p class="t-card__text">“This is the most useful tool I have been introduced to in my 37 years of manufacturing experience.”</p>
				</div>
				<div class="testimonials__card t-card swiper-slide">
					<img class="t-card__photo" src="{{asset "assets/images/t-card-image.png"}}" alt="author photo">
					<h3 class="t-card__title">GREG NELSON</h3>
					<p class="t-card__company">Northwest automatics inc.</p>
					<p class="t-card__text">“This is the most useful tool I have been introduced to in my 37 years of manufacturing experience.”</p>
				</div>
			</div>
			<!-- If we need pagination -->
			<div class="swiper-pagination"></div>

			<!-- If we need navigation buttons -->
			<div class="swiper-button-prev">{{>icons/small-arrow-left}}</div>
			<div class="swiper-button-next">{{>icons/small-arrow-right}}</div>
		</div>
	</div>
</div>