<div class="home">

	<div class="popular">
		<div class="w1340">
			<h2 class="popular__title">Popular platform offerings</h2>
			<div class="popular__cards">
				<a href="{{@site.url}}/work-instructions/" class="popular__card">
					<img class="popular__card-img" src="{{asset "assets/images/popular1.png"}}" alt="card image">
					<h3 class="popular__card-title">Work Instructions</h3>
				</a>
				<a href="{{@site.url}}/shop-floor-management/" class="popular__card">
					<img class="popular__card-img" src="{{asset "assets/images/popular2.png"}}" alt="card image">
					<h3 class="popular__card-title">shop floor management</h3>
				</a>
				<a href="{{@site.url}}/data-collection/" class="popular__card">
					<img class="popular__card-img" src="{{asset "assets/images/popular3.png"}}" alt="card image">
					<h3 class="popular__card-title">data collection</h3>
				</a>
				<a href="{{@site.url}}/root-cause-analysis/" class="popular__card">
					<img class="popular__card-img" src="{{asset "assets/images/popular4.png"}}" alt="card image">
					<h3 class="popular__card-title">root cause analysis</h3>
				</a>
				<a href="{{@site.url}}/industrial-iot/" class="popular__card">
					<img class="popular__card-img" src="{{asset "assets/images/popular5.png"}}" alt="card image">
					<h3 class="popular__card-title">industrial ioT</h3>
				</a>
			</div>
		</div>
	</div>

	<div class="become">
		<div class="home-shadow-1">{{>images/shadow1}}</div>
		<div class="home-shadow-2">{{>images/shadow2}}</div>

		<div class="w1340">
			<div class="become-content">
				<h2 class="become__title">Become a Smart Factory</h2>
				<p class="become__subtitle">Change is always great on paper, but tough to make real in a factory stuck in the last century. We have the solution. Scout System’s platform enables vertically integrated manufacturers to optimize their process with a universal solution.</p>
				<a class="learn-more-button" href="{{@site.url}}/tech-overview/">Learn more <span class="green-arrow">{{>icons/arrow-right}}</span></a>
				<div class="home-factory"><img src="{{asset "assets/images/factory-image.webp"}}" alt="factory image"></div>
			</div>
		</div>
	</div>

	<div class="home-big-video">
		<div class="w1340">
			<video src="https://scoutweb.blob.core.windows.net/assets/Scout-Systems-Manufacturing-Software-Compressed.mp4" controls preload="none" poster="{{asset "assets/images/video-thumb.png"}}"></video>
			<div class="video-shadow">
				{{>images/video-shadow}}
			</div>
		</div>
	</div>

	{{>structure/cta}}

	<div class="w1340">
		<div class="testimonials swiper">
			<h2 class="testimonials__title">Testimonials</h2>
			<div class="testimonials__body swiper-wrapper">
				<div class="testimonials__card t-card swiper-slide">
					<img class="t-card__photo" src="{{asset "assets/images/testimonials/Northwest Automatics Square.png"}}" alt="company image">
					<h3 class="t-card__title">Greg N.</h3>
					<p class="t-card__company">Northwest Automatics, Inc.</p>
					<p class="t-card__text">“We now have an accurate accounting of the time it takes to manufacturer specific parts. We have identified non value added time issues and made adjustments and improvements to increase production.”</p>
				</div>
				<div class="testimonials__card t-card swiper-slide">
					<img class="t-card__photo" src="{{asset "assets/images/testimonials/Gunderson Square.png"}}" alt="company image">
					<h3 class="t-card__title">Charles B.</h3>
					<p class="t-card__company">Gunderson</p>
					<p class="t-card__text">“We now have an accurate accounting of the time it takes to manufacturer specific parts. We have identified non value added time issues and made adjustments and improvements to increase production.”</p>
				</div>
				<div class="testimonials__card t-card swiper-slide">
					<img class="t-card__photo" src="{{asset "assets/images/testimonials/Sunstream Square.png"}}" alt="company image">
					<h3 class="t-card__title">Scott M.</h3>
					<p class="t-card__company">Sunstream Boatlifts</p>
					<p class="t-card__text">“The software is easy to learn and manipulate. It is great that it can track very detailed information or it can be used in a more generic way, the choice is yours. I also like that it is always up to date due to being cloud based and there is nothing to download or keep track of.”</p>
				</div>
				<div class="testimonials__card t-card swiper-slide">
					<img class="t-card__photo" src="{{asset "assets/images/testimonials/TCA Square.png"}}" alt="company image">
					<h3 class="t-card__title">Eli T.</h3>
					<p class="t-card__company">Technical Cable Applications</p>
					<p class="t-card__text">“Our experience with Scout Systems has been very much worthwhile. You will get a wealth of good data to make informed and intelligent decisions in whatever your process entails.”</p>
				</div>
				<div class="testimonials__card t-card swiper-slide">
					<img class="t-card__photo" src="{{asset "assets/images/testimonials/Milgard.png"}}" alt="company image">
					<h3 class="t-card__title">Gary N.</h3>
					<p class="t-card__company">Milgard</p>
					<p class="t-card__text">“Built-in reports help do a deep dive into where delays, quality issues, or people/process opportunities exist. With some guidance from the Scout team, I've been able to quickly process reports and provide them to my leadership, prompting questions like, 'what else can you show us?!'”</p>
				</div>
			</div>
			<!-- If we need pagination -->
			<div class="swiper-pagination"></div>

			<!-- If we need navigation buttons -->
			<div class="swiper-button-prev">{{>icons/small-arrow-left}}</div>
			<div class="swiper-button-next">{{>icons/small-arrow-right}}</div>
		</div>
	</div>
</div>