<div class="home">

	<div class="become">
		<div class="home-shadow-1">{{>images/shadow1}}</div>
		<div class="home-shadow-2">{{>images/shadow2}}</div>

		<div class="w1340">
			<div class="become-content">
				<h2 class="become__title">THE SMART FACTORY ADVANTAGE</h2>
				<p class="become__subtitle">You are actively paying money to handicap your facility if you are not a Smart Factory. The hidden costs of analog processes dwarf the cost to implement new digital technology. Before considering the benefits of big data analytics, machine learning, and artificial intelligence, simply eliminating the need for paper will expose new opportunities of automation. 
				<br>
				<br>
				Smart Factories have a massive advantage due to their lower cost in producing with higher quality. What may have worked historically, can now be a liability. We strive to give our customers a leg up on their competition, with a value-focused personalized touch.</p>
				<a href="https://cta-service-cms2.hubspot.com/web-interactives/public/v1/track/redirect?encryptedPayload=AVxigLJdg0x%2BA8JB9S6KB8iaAx440f898ylNEtcv2g1YsQqQEjIxKd5cvRiOVd7EaOwF9nyDgHPIrnCLXl5%2FOktHSwNyOdaaVpdVj2fY9lzeJDQ6EPunHJq83tP7bXIWDOVHcgKxeUlwsZm72DWj9oFDOWat2qj0pUxMvPYfRGMc7oZMvS%2FYZiOY&webInteractiveContentId=128943797352&portalId=41638633" target="_blank" class="default-button_green">Schedule Consultation</a>
				<div class="home-factory"><img src="{{asset "assets/images/factory-image.webp"}}" alt="factory image"></div>
			</div>
		</div>
	</div>

	<div class="tech-green-stats">

		{{> structure/form-popup}}

		<div class="tech-green-stats__ellipse1">{{> images/tech-ellipse-stats}}</div>
		<div class="tech-green-stats__ellipse2">{{> images/tech-ellipse-stats}}</div>
		<div class="w1340">
			<div class="tech-green-stats__left">
				<h2 class="tech-green-stats__title">CATCH UP WITH INNOVATION AND IMPRESS CUSTOMERS</h2>
				<div style="cursor: pointer;" class="default-button_green runScriptButton">GET STARTED TODAY</div>
			</div>
			<div class="tech-green-stats__right">
				<div class="tech-green-stats__card">
					<div class="tech-green-stats__card-img">{{> icons/tech-green-stats-icon1 color='white'}}</div>
					<div class="tech-green-stats__card-text">
						<h3 class="tech-green-stats__card-title">Reduce Operational Costs</h3>
						<p class="tech-green-stats__card-description">Experience a 5-15% increase in your capacity due to automating high labor tasks and reducing waste.</p>
					</div>
				</div>
				<div class="tech-green-stats__card">
					<div class="tech-green-stats__card-img">{{> icons/tech-green-stats-icon2 color='white'}}</div>
					<div class="tech-green-stats__card-text">
						<h3 class="tech-green-stats__card-title">Secure Tribal Knowledge</h3>
						<p class="tech-green-stats__card-description">Rapidly create work instructions, simplify revision control, and reduce training time for new employees.</p>
					</div>
				</div>
				<div class="tech-green-stats__card">
					<div class="tech-green-stats__card-img">{{> icons/tech-green-stats-icon3 color='white'}}</div>
					<div class="tech-green-stats__card-text">
						<h3 class="tech-green-stats__card-title">Improve Quality</h3>
						<p class="tech-green-stats__card-description">Implement inline quality assurance methods to reduce defect occurrences and lower the cost of quality.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	{{> structure/technology/tech-customers}}

	<div class="landing-stats">
		<div class="w1340">
			<div class="landing-stats__card stats-card">
				<span class="stats-card__amount">30M+</span>
				<h3 class="stats-card__title">Products Built</h3>
				<p class="stats-card__description">Our customers have unparalleled operational visibility.</p>
			</div>

			<div class="landing-stats__card stats-card">
				<span class="stats-card__amount">4.5M+</span>
				<h3 class="stats-card__title">Dollars of Waste Analyzed</h3>
				<p class="stats-card__description">Our platform identifies cost saving opportunities.</p>
			</div>

			<div class="landing-stats__card stats-card">
				<span class="stats-card__amount">1M+</span>
				<h3 class="stats-card__title">Work Orders Monitored</h3>
				<p class="stats-card__description">We're proud of our 99.99% cloud server uptime.</p>
			</div>

			<div class="landing-stats__card stats-card">
				<span class="stats-card__amount">400k+</span>
				<h3 class="stats-card__title">Instructions Created</h3>
				<p class="stats-card__description">We've simplified Securing Tribal Knowledge.</p>
			</div>
		</div>
	</div>

	<div class="w1340">
		<div class="testimonials swiper">
			<h2 class="testimonials__title">Testimonials</h2>
			<div class="testimonials__body swiper-wrapper">
				<div class="testimonials__card t-card swiper-slide">
					<img class="t-card__photo" src="{{asset "assets/images/testimonials/Northwest Automatics Square.png"}}" alt="company image">
					<h3 class="t-card__title">Greg N.</h3>
					<p class="t-card__company">Northwest Automatics, Inc.</p>
					<p class="t-card__text">“We now have an accurate accounting of the time it takes to manufacturer specific parts. We have identified non value added time issues and made adjustments and improvements to increase production.”</p>
				</div>
				<div class="testimonials__card t-card swiper-slide">
					<img class="t-card__photo" src="{{asset "assets/images/testimonials/Gunderson Square.png"}}" alt="company image">
					<h3 class="t-card__title">Charles B.</h3>
					<p class="t-card__company">Gunderson</p>
					<p class="t-card__text">“We now have an accurate accounting of the time it takes to manufacturer specific parts. We have identified non value added time issues and made adjustments and improvements to increase production.”</p>
				</div>
				<div class="testimonials__card t-card swiper-slide">
					<img class="t-card__photo" src="{{asset "assets/images/testimonials/Sunstream Square.png"}}" alt="company image">
					<h3 class="t-card__title">Scott M.</h3>
					<p class="t-card__company">Sunstream Boatlifts</p>
					<p class="t-card__text">“The software is easy to learn and manipulate. It is great that it can track very detailed information or it can be used in a more generic way, the choice is yours. I also like that it is always up to date due to being cloud based and there is nothing to download or keep track of.”</p>
				</div>
				<div class="testimonials__card t-card swiper-slide">
					<img class="t-card__photo" src="{{asset "assets/images/testimonials/TCA Square.png"}}" alt="company image">
					<h3 class="t-card__title">Eli T.</h3>
					<p class="t-card__company">Technical Cable Applications</p>
					<p class="t-card__text">“Our experience with Scout Systems has been very much worthwhile. You will get a wealth of good data to make informed and intelligent decisions in whatever your process entails.”</p>
				</div>
				<div class="testimonials__card t-card swiper-slide">
					<img class="t-card__photo" src="{{asset "assets/images/testimonials/Milgard.png"}}" alt="company image">
					<h3 class="t-card__title">Gary N.</h3>
					<p class="t-card__company">Milgard</p>
					<p class="t-card__text">“Built-in reports help do a deep dive into where delays, quality issues, or people/process opportunities exist. With some guidance from the Scout team, I've been able to quickly process reports and provide them to my leadership, prompting questions like, 'what else can you show us?!'”</p>
				</div>
			</div>
			<!-- If we need pagination -->
			<div class="swiper-pagination"></div>

			<!-- If we need navigation buttons -->
			<div class="swiper-button-prev">{{>icons/small-arrow-left}}</div>
			<div class="swiper-button-next">{{>icons/small-arrow-right}}</div>
		</div>
	</div>

	<div class="tech-track tech-track_home">
		<div class="tech-track__shadow1">{{> images/shadow1}}</div>
		<div class="tech-track__shadow2">{{> images/shadow2}}</div>
		<div class="w1340 tech-track-swiper">
			<h2 class="tech-track__title">The Future is Digital</h2>
			<p class="tech-track__subtitle">This is obvious. The question you should consider is if you want to take
			on this task on your own, or partner with a company that survives by making
			Manufacturers succeed. With over a 90% success rate - taking customers from
			onboarding through to value discovery - chances are this will work for you and
			pay for itself at the same time.</p>
			<div class="tech-track__img">
				<video-js class="video-js" data-setup='{}' src="https://scoutweb.blob.core.windows.net/assets/Scout-Systems-Manufacturing-Software-Compressed.mp4" controls preload="none" poster="{{asset "assets/images/video-thumb.png"}}"></video-js>
			</div>
			<div class="tech-track__cards">
				<div class="tech-track__card">
					<div class="tech-track__card-icon">{{> icons/tech-track-icon1}}</div>
					<h3 class="tech-track__card-title">Are You Falling Behind?</h3>
					<p class="tech-track__card-description">The pace of new technology is accelerating. AI is here and many haven’t even caught up to IoT.</p>
				</div>
				<div class="tech-track__card">
					<div class="tech-track__card-icon">{{> icons/tech-track-icon2}}</div>
					<h3 class="tech-track__card-title">Catching up is Daunting</h3>
					<p class="tech-track__card-description">Assuming you’re up to the challenge, where do you start? What kind of resources are needed?</p>
				</div>
				<div class="tech-track__card">
					<div class="tech-track__card-icon">{{> icons/tech-track-icon3}}</div>
					<h3 class="tech-track__card-title">Our Unique Approach</h3>
					<p class="tech-track__card-description">We listen to customers' challenges and help implement systematic change, while targeting a ROI.</p>
				</div>
			</div>
			<div class="swiper-pagination"></div>
		</div>
	</div>

	<div class="tech-green-stats white">

		{{> structure/form-popup}}

		<div class="tech-green-stats__shadow1">{{> images/shadow1}}</div>
		{{!-- <div class="tech-green-stats__shadow2">{{> images/shadow1}}</div> --}}
		<div class="w1340">
			<div class="tech-green-stats__left">
				<h2 class="tech-green-stats__title">DIGITAL TRANSITION MADE EASY</h2>
				<div style="cursor: pointer;" class="default-button_green runScriptButton">GET STARTED TODAY</div>
			</div>
			<div class="tech-green-stats__right">
				<div class="tech-green-stats__card">
					<div class="tech-green-stats__card-img">{{> icons/tech-green-stats-icon1 color='dark'}}</div>
					<div class="tech-green-stats__card-text">
						<h3 class="tech-green-stats__card-title">Rapid Deployment</h3>
						<p class="tech-green-stats__card-description">Configure, Install and get Trained after only a few hours. You will have 100% visibility of your plant within days.</p>
					</div>
				</div>
				<div class="tech-green-stats__card">
					<div class="tech-green-stats__card-img">{{> icons/tech-green-stats-icon2 color='dark'}}</div>
					<div class="tech-green-stats__card-text">
						<h3 class="tech-green-stats__card-title">Strong Momentum</h3>
						<p class="tech-green-stats__card-description">Our experts will provide continuous guidance, allowing your staff to keep their focus on your factory.</p>
					</div>
				</div>
				<div class="tech-green-stats__card">
					<div class="tech-green-stats__card-img">{{> icons/tech-green-stats-icon3 color='dark'}}</div>
					<div class="tech-green-stats__card-text">
						<h3 class="tech-green-stats__card-title">Realized Opportunities</h3>
						<p class="tech-green-stats__card-description">In less than 3 months, you will experience improvements that can be quantified; use the data to validate your investment.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="ar-block2 ar-block2-home">
		<div class="w1340">
			<div class="ar-block2__image">
				<img src="{{asset 'assets/images/floor-management/timeline.png'}}" alt="timeline image">
			</div>
		</div>
	</div>

	{{!-- <div class="home-big-video">
		<div class="w1340">
			<video src="https://scoutweb.blob.core.windows.net/assets/Scout-Systems-Manufacturing-Software-Compressed.mp4" controls preload="none" poster="{{asset "assets/images/video-thumb.png"}}"></video>
			<div class="video-shadow">
				{{>images/video-shadow}}
			</div>
		</div>
	</div> --}}

	{{>structure/cta}}
</div>